___
# PROJETO 1

## <font color='red'>SABRINA SAMPAIO SIMÃO</font>
___

## <font color='blue'>TÍTULO DO SEU PROJETO</font>

## Introdução

Descreva aqui a motivação para escolha dos grupos e o que pretende analisar!

Exemplifique identificando uma pesquisa semelhante feita no Brasil ou no exterior que compare uma parcela da população (apossentados, imigrantes, mulheres, jovens) com todo resto. Critique esta pesquisa (que tipo de variáveis usou? Que recurso de estatística descritiva?). Pode ser um artigo de jornal.

___
## Análise e Resultados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\sabri\Documents\CdDados\CDEng\Projeto1

In [3]:
"""Vamos ler a estrutura da PNAD como um dataframe.
    São muitas colunas e precisamos usar a informação de tamanho para ler a PNAD de fato
    como uma base de tamanho fixo"""
estrutura = pd.read_table("pes_py.txt", sep=";")

In [20]:
estrutura.head()

  Coluna  Tamanho                Título
0  V0101        4     Ano de referência
1     UF        2  Unidade da Federação
2  V0102        6    Número de controle
3  V0103        3       Número de série
4  V0301        2       Número de ordem

In [28]:
# Se quiser uma leitura mais rápida, use o arquivo descompactado. Não esqueça de adicionar ao seu .gitignore
dados = pd.read_fwf("PES2014.txt", widths=estrutura.Tamanho, header=None)

#Se quiser economizar espaço, use o arquivo Zip
#pnad2014 = pd.read_fwf("PES2014.zip", widths=estrutura.Tamanho, header=None, compression="zip")

In [29]:
dados.head()

,0,1,2,3,4,5,6,7,8,9,...,331,332,333,334,335,336,337,338,339,340
0,2014,11,15,1,1,2,19,8,1987,27,...,3,500,3,3,1,2,2,1,500,20160623
1,2014,11,15,1,2,4,19,1,1986,28,...,3,500,3,4,2,NaN,2,1,500,20160623
2,2014,11,15,1,3,2,14,5,2013,1,...,3,500,3,1,NaN,NaN,NaN,NaN,500,20160623
3,2014,11,15,2,1,2,8,4,1963,51,...,2,1150,4,2,1,2,2,1,1150,20160623
4,2014,11,15,2,2,4,6,11,1970,43,...,2,1150,4,3,1,2,2,1,1150,20160623

In [30]:
estrutura.columns

Index(['Coluna', 'Tamanho', 'Título'], dtype='object')

In [31]:
dados.columns = estrutura.Coluna

In [32]:
dados.head()

Coluna,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,V8005,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,2014,11,15,1,1,2,19,8,1987,27,...,3,500,3,3,1,2,2,1,500,20160623
1,2014,11,15,1,2,4,19,1,1986,28,...,3,500,3,4,2,NaN,2,1,500,20160623
2,2014,11,15,1,3,2,14,5,2013,1,...,3,500,3,1,NaN,NaN,NaN,NaN,500,20160623
3,2014,11,15,2,1,2,8,4,1963,51,...,2,1150,4,2,1,2,2,1,1150,20160623
4,2014,11,15,2,2,4,6,11,1970,43,...,2,1150,4,3,1,2,2,1,1150,20160623

In [33]:
#dados["Regiao"] = dados.UF
dados.loc[(dados.UF>30)&(dados.UF<41),"Região"]="Sudeste"
dados.loc[(dados.UF>10)&(dados.UF<18),"Região"]="Norte"
dados.loc[(dados.UF>49)&(dados.UF<54),"Região"]="Centro Oeste"
dados.loc[(dados.UF>20)&(dados.UF<30),"Região"]="Nordeste"
dados.loc[(dados.UF>40)&(dados.UF<44),"Região"]="Sul"

In [34]:
dados

Coluna,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,V8005,...,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993,Região
0,2014,11,15,1,1,2,19,8,1987,27,...,500,3,3,1,2,2,1,500,20160623,Norte
1,2014,11,15,1,2,4,19,1,1986,28,...,500,3,4,2,NaN,2,1,500,20160623,Norte
2,2014,11,15,1,3,2,14,5,2013,1,...,500,3,1,NaN,NaN,NaN,NaN,500,20160623,Norte
3,2014,11,15,2,1,2,8,4,1963,51,...,1150,4,2,1,2,2,1,1150,20160623,Norte
4,2014,11,15,2,2,4,6,11,1970,43,...,1150,4,3,1,2,2,1,1150,20160623,Norte
5,2014,11,15,3,1,4,5,1,1937,77,...,724,3,2,2,NaN,NaN,2,724,20160623,Norte
6,2014,11,15,4,1,4,15,3,1975,39,...,1700,5,4,2,NaN,2,1,1700,20160623,Norte
7,2014,11,15,4,2,2,7,3,1954,60,...,1700,5,1,1,2,2,1,1700,20160623,Norte
8,2014,11,15,4,3,4,2,4,1998,16,...,1700,5,4,1,2,2,1,1700,20160623,Norte
9,2014,11,15,4,4,2,21,5,1999,15,...,1700,5,3,2,NaN,NaN,2,1700,20160623,Norte
10,2014,11,15,4,5,4,1,11,2001,12,...,1700,5,2,2,NaN,NaN,2,1700,20160623,Norte
11,2014,11,15,5,1,4,13,7,1946,68,...,855,4,2,2,NaN,NaN,2,855,20160623,Norte
12,2014,11,15,5,2,4,7,10,1978,35,...,855,4,6,1,2,2,1,855,20160623,Norte
13,2014,11,15,5,3,4,21,7,1996,18,...,855,4,4,1,2,2,1,855,20160623,Norte
14,2014,11,15,5,4,2,24,8,2000,14,...,855,4,2,2,NaN,NaN,2,855,20160623,Norte
15,2014,11,15,6,1,2,20,11,1953,60,...,850,4,2,1,2,2,1,850,20160623,Norte
16,2014,11,15,6,2,4,9,6,1956,58,...,850,4,2,1,2,2,1,850,20160623,Norte
17,2014,11,15,7,1,4,12,12,1958,55,...,3220,6,2,1,2,2,1,3220,20160623,Norte
18,2014,11,15,7,2,2,22,3,1954,60,...,3220,6,7,1,2,2,1,3220,20160623,Norte
19,2014,11,15,7,3,2,10,6,1981,33,...,3220,6,7,1,2,2,1,3220,20160623,Norte
20,2014,11,15,7,4,2,10,6,1981,33,...,3220,6,5,1,2,2,1,3220,20160623,Norte
21,2014,11,15,7,5,2,3,6,1985,29,...,3220,6,7,1,2,2,1,3220,20160623,Norte
22,2014,11,15,8,1,2,15,3,1975,39,...,933,4,5,1,2,2,1,933,20160623,Norte
23,2014,11,15,8,2,4,12,2,1972,42,...,933,4,5,1,2,2,1,933,20160623,Norte
24,2014,11,15,8,3,2,5,5,2009,5,...,933,4,1,2,NaN,NaN,2,933,20160623,Norte
25,2014,11,15,10,1,2,15,10,1948,65,...,2362,6,2,1,1,1,1,2362,20160623,Norte
26,2014,11,15,10,2,4,24,6,1952,62,...,2362,6,5,2,NaN,NaN,2,2362,20160623,Norte
27,2014,11,15,11,1,2,20,12,1965,48,...,804,4,3,1,2,2,1,804,20160623,Norte
28,2014,11,15,11,2,4,9,11,1965,48,...,804,4,5,1,2,2,1,804,20160623,Norte
29,2014,11,15,11,3,2,3,7,1994,20,...,804,4,6,1,2,2,1,804,20160623,Norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362597,2014,53,2148,9,3,2,5,9,1995,19,...,500,3,2,1,2,2,1,500,20160623,Centro Oeste
362598,2014,53,2148,9,4,2,22,1,2000,14,...,500,3,2,2,NaN,NaN,2,500,20160623,Centro Oeste
362599,2014,53,2148,10,1,4,21,7,1968,46,...,1140,4,7,1,2,2,1,1140,20160623,Centro Oeste
362600,2014,53,2148,10,2,2,30,8,1965,49,...,1140,4,1,1,2,2,1,1140,20160623,Centro Oeste
362601,2014,53,2148,10,3,2,10,12,1990,23,...,1140,4,2,1,2,2,1,1140,20160623,Centro Oeste
362602,2014,53,2148,10,4,2,5,10,1994,19,...,1140,4,2,1,2,2,1,1140,20160623,Centro Oeste
362603,2014,53,2148,10,5,4,30,5,2001,13,...,1140,4,2,2,NaN,NaN,2,1140,20160623,Centro Oeste
362604,2014,53,2148,11,1,2,29,9,1962,51,...,1199,4,2,1,2,2,1,1318,20160623,Centro Oeste
362605,2014,53,2148,11,2,4,0,20,39,39,...,1199,4,3,1,2,2,1,1318,20160623,Centro Oeste
362606,2014,53,2148,11,3,2,18,3,1992,22,...,1199,4,5,1,2,2,1,1318,20160623,Centro Oeste
362607,2014,53,2148,11,4,2,29,8,1990,24,...,1199,4,5,1,2,2,1,1019,20160623,Centro Oeste
362608,2014,53,2148,11,5,4,21,1,1995,19,...,1199,4,5,1,2,2,1,1019,20160623,Centro Oeste
362609,2014,53,2148,12,1,2,24,12,1953,60,...,442,3,1,1,2,2,1,442,20160623,Centro Oeste
362610,2014,53,2148,12,2,4,3,1,1961,53,...,442,3,1,2,NaN,NaN,2,442,20160623,Centro Oeste
362611,2014,53,2148,12,3,4,23,7,1987,27,...,442,3,5,1,2,2,1,442,20160623,Centro Oeste
362612,2014,53,2148,12,4,2,22,5,1989,25,...,442,3,2,1,2,2,1,442,20160623,Centro Oeste
362613,2014,53,2148,12,5,2,7,10,1994,19,...,442,3,5,1,2,2,1,442,20160623,Centro Oeste
362614,2014,53,2148,12,6,2,13,9,1997,17,...,442,3,2,2,NaN,NaN,2,442,20160623,Centro Oeste
362615,2014,53,2148,12,7,4,29,5,2001,13,...,442,3,2,2,NaN,NaN,2,442,20160623,Centro Oeste
362616,2014,53,2148,13,1,2,10,2,1959,55,...,1266,4,3,1,2,2,1,1266,20160623,Centro Oeste
362617,2014,53,2148,13,2,4,31,10,1964,49,...,1266,4,2,2,NaN,NaN,2,1266,20160623,Centro Oeste
362618,2014,53,2148,13,3,2,17,6,2007,7,...,1266,4,1,2,NaN,NaN,2,1266,20160623,Centro Oeste
362619,2014,53,2148,14,1,2,23,6,1991,23,...,500,3,2,2,NaN,2,1,500,20160623,Centro Oeste
362620,2014,53,2148,14,2,4,25,11,1989,24,...,500,3,4,1,2,2,1,500,20160623,Centro Oeste
362621,2014,53,2148,16,1,2,2,1,1987,27,...,2000,5,5,1,2,2,1,2000,20160623,Centro Oeste
362622,2014,53,2148,16,2,4,5,5,1983,31,...,2000,5,5,1,2,2,1,2000,20160623,Centro Oeste
362623,2014,53,2148,17,1,2,2,2,1968,46,...,910,4,1,1,2,2,1,910,20160623,Centro Oeste
362624,2014,53,2148,17,2,4,8,6,1978,36,...,910,4,1,1,2,2,1,910,20160623,Centro Oeste
362625,2014,53,2148,17,3,2,1,6,1996,18,...,910,4,3,2,NaN,NaN,2,910,20160623,Centro Oeste
362626,2014,53,2148,17,4,4,11,4,1997,17,...,910,4,4,2,NaN,NaN,2,910,20160623,Centro Oeste

___

___
## Conclusão

Descreva aqui suas conclusões!